.posterSlider {
  height: 100%;
  overflow: hidden;
  & div {
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__dots {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    color: transparent;
    li {
      display: inline-block;
      padding: 5px 2px;
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: rgba(#ffffff, .5);
      }
      &.slick-active {
        &::before {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          background-color: #ffffff;
        }
      }
      button {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: 1px solid transparent;  //自定义边框
        outline: none;    //消除默认点击蓝色边框效果
      }
    }
  }
}
