.topBar {
  display: flex;
  padding: 10px 20px 0;
  align-items: center;
  &__city {
    font-size: 14px;
    color: #000000;
    letter-spacing: 6px;
    font-weight: 400;
    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: solid;
      border-color: #000000 transparent transparent
    }
  }
  &__search {
    flex: 1;
    background-color: #f6f5f5;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin: 0 15px;
    color: #9a9a9e;
  }
  &__scan {
    height: 20px;
    width: 20px;
    background: #ffffff url('../../../icons/scan.svg') center / cover no-repeat;
  }
}
