.my__header {
  background-color: darkslateblue; }

.my__info {
  padding: 0 25px;
  height: 120px;
  display: flex;
  align-items: center; }

.my__avatar {
  width: 70px;
  height: 70px;
  background-image: url("/source/avatar.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  flex: 0 0 70px;
  margin-right: 20px; }

.my__detail {
  flex: 1; }

.my__name {
  font-size: 20px;
  color: #ffffff;
  height: 28px;
  line-height: 28px;
  font-weight: bold; }

.my__focus {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.8); }

.my__focusOther, .my__focusSe, .my__focusMe {
  display: inline-block; }

.my__focusSe {
  margin: 0 20px; }

.my__member {
  background-color: #5a5d7d;
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
  display: inline-block;
  padding: 0 8px;
  border-radius: 8px;
  color: #ffffff; }

.my .mC__block {
  height: 58px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.my .mC__text {
  font-size: 16px;
  line-height: 58px;
  font-weight: 400;
  color: #333333; }

.my .mC__num {
  font-size: 14px;
  line-height: 58px;
  color: #999999; }
